{% load static %}

<div class="card">
    <div class="card-body">
        <a href="{% url 'questions:question' question.id %}" class="text-decoration-none">
            <h5 class="card-title">{{ question.title }}</h5>
        </a>
        <p class="card-text">{{ question.text }}</p>
        
        <div class="d-flex flex-wrap gap-2 mb-3">
            {% for tag in question.tags.all %}
                <a href="{% url 'questions:tag' tag.name %}" class="badge bg-secondary text-decoration-none hover-bg-dark ">
                    #{{ tag.name }}
                </a>
            {% endfor %}
        </div>
        
        <div class="d-flex gap-2">
            <a href="#" class="btn btn-sm btn-outline-primary">
                Ответить
            </a>
            <button class="btn btn-sm btn-outline-secondary d-flex align-items-center gap-1">
                <img src="{% static 'questions/img/like_icon.png' %}" alt="Лайк" width="20" height="14">
                <span>{{ question.likes_count }}</span>
            </button>
            <button class="btn btn-sm btn-outline-secondary">
                <img src="{% static 'questions/img/dislike_icon.png' %}" alt="Дизлайк" width="20" height="14">
            </button>
        </div>
    </div>
</div>
