DEBUG=True
SECRET_KEY=your-secret-key-here
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
DB_ENGINE=django.db.backends.postgresql
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_BROKER_DB=2
REDIS_BEAT_DB=3
CENTRIFUGO_URL=http://centrifugo:8000
CENTRIFUGO_WS_URL=ws://localhost:8001/connection/websocket
CENTRIFUGO_API_KEY=N0c2PEfIMmU_PjnRtqK9Q_Ht8AR4OUMSibaHdLrr6135kniUrI8DqdUUvAtoy_KBivRi749O7bGBRMDOWmz3Zw
CENTRIFUGO_SECRET=9Hd92pvEQUQBK4B1gugfVMo8fwfHrNF94yRVpAXU-l2WIz-OqgAypm6uUlyUSCZmyUySX3PYN9G-37uJtYU-Vg
CENTRIFUGO_NAMESPACE=question
