{% load static %}

<a href="{% url 'questions:question' question.id %}" class="list-group-item list-group-item-action py-3">
    <div class="d-flex justify-content-between align-items-start">
        <div class="flex-grow-1">
            <h6 class="mb-1">{{ question.title }}</h6>
            <small class="text-muted">
                {{ question.answers_count }} ответов • 
                {{ question.created_at|date:"d.m.Y" }} • 
                Автор: {{ question.author.profile.display_name }}
            </small>
        </div>
    </div>
</a>
